#canvas {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 1rem;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    overflow:hidden;
}

.footer-text {
  padding: 1em;
  padding-bottom: 0;
}

.left {
  float:left;
}

.right {
  float:right;
}

.socials {
  display: block;
}
