#canvas {
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: center;
}

html,body {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    line-height: 2.1;
    overflow:hidden;
}

.footer-text {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -0.4em;
}

.left {
  float:left;
}

.right {
  float:right;
}

.socials {
  display: block;
}

/* bootswatch edits */
.btn-outline-info {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin-right: 38em;
}

.btn-outline-success {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin-right: 25em;
}

.btn-outline-warning {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin-right: 8em;
}
