#canvas {
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: center;
}

html,body {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    line-height: 2.1;
    overflow:hidden;
}

.footer-text {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -0.4em;
}

.left {
  float:left;
}

.right {
  float:right;
}

.socials {
  display: block;
}

/* bootswatch button edits */

.btn {
  position: absolute;
  right: 0;
  overflow: hidden;
  padding: 0.6rem 1rem;
}

.btn-outline-info {
  margin-right: 35.9rem;
}

.btn-outline-success {
  margin-right: 28rem;
}

.btn-outline-warning {
  margin-right: 20rem;
}

.btn-outline-danger {
  margin-right: 6.5rem;
}

.btn-secondary {
  float: right;
  padding: 0.3rem 0.5rem;
  margin-right: 1rem;
}


/* Load Doodle dialog box */
dialog {
  display: none;
  position: absolute;
  z-index:1002;
  border-radius: 1rem;
}

dialog[open="open"] {
    display: block;
}

@media (min-width: 30em) { 
  dialog {
    width: 40rem;
    margin-top: 10rem;
  }
}
