<button id="close-dialog" type="button" class="btn btn-secondary">X</button>
<h2 id="dialog-heading">About WebPaint</h2>
<div style="overflow-x:auto;">
    WebPaint has been created by
    <b>Felix Wu</b>. You may check him out here:
    <div class="modal-icons">
        <div class="flex-container">
            <div class="flex">
                <a href="http://david-wu.me" target="_blank">
                    <i class="fa fa-globe"></i>
                </a>
            </div>
            <div class="flex">
                <a href="https://www.linkedin.com/in/felix-wu-de/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <div class="flex">
                <a href="https://www.github.com/Pl4gue" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <div class="flex">
                <a href="https://www.twitter.com/pl4gue_dwu" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="flex">
                <a href="mailto:david10608@gmail.com" target="_blank">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>