<p class="footer-text left">
  <a href="/"><b style="font-weight: bold;">WebPaint</b></a> is realized using <em><b>p5.js</b> and <b>Firebase Realtime Database</b></em><br>
  Made with a lot of <3 by <a href="http://david-wu.me"><b>Felix Wu</b></a>.
  <div class="modal-icons">
      <div class="flex-container">
          <div class="flex">
              <a href="http://david-wu.me" target="_blank">
                  <i class="fa fa-globe"></i>
              </a>
          </div>
          <div class="flex">
              <a href="https://www.linkedin.com/in/felix-wu-de/" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
          </div>
          <div class="flex">
              <a href="https://www.github.com/Pl4gue" target="_blank">
                  <i class="fa fa-github"></i>
              </a>
          </div>
          <div class="flex">
              <a href="https://www.twitter.com/pl4gue_dwu" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
          </div>
          <div class="flex">
              <a href="mailto:david10608@gmail.com" target="_blank">
                  <i class="fa fa-envelope"></i>
              </a>
          </div>
      </div>
  </div>
</p>
<p class="footer-text right">
  Deployed via <em><b>Firebase Hosting</b></em>
</p>
<br>
