<a class="navbar-brand" href="/">WebPaint - <em>Draw and Save your Doodles online</em></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<button type="button" class="btn btn-outline-info" onclick="onDownloadDoodle()">Download</button>
<button type="button" class="btn btn-outline-success" onclick="onSaveDoodle()">Save Doodle</button>
<button type="button" class="btn btn-outline-warning" onclick="onLoadDoodle()">Load Doodle</button>
<button type="button" class="btn btn-outline-danger" onclick="onClearDoodle()">Clear Canvas</button>
